.col-md-4 {
  height: 250px;
  border: 3px dashed black;
  font-size: 200px;
  text-align: center;
}
.nerd {

  font-size: 70px;
  font-family: monospace;
  animation: nerdDisplay 1s infinite;
}
@keyframes nerdDisplay {
  0% {color: red}
  50% {color: blue}
  100% {color: red}
}
